{%- if cart != empty -%}
  <div
    id='dokopoiPointsToGetSubtotal'
    style='display:none; text-align:right;!important'
  >
    <span id='dokopoiAcquisitionLabel'>獲得予定ポイント</span>
    <span id='dokopoiAcquisitionPoint'></span>
    <span id='dokopoiAcquisitionPointSymbol'>P</span>
  </div>
{%- endif -%}
