
<div class="faq page-width page-width--narrow"id="order">
  <h2 class="faq__title faq__title--order">注文について</h2>
<ul class="c-accordion__list">
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">注文を間違えた場合、変更・キャンセルはできますか？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
             注文後の変更・キャンセルはお受けできませんので、ご了承ください。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">電話・メールでの注文は可能ですか？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
お電話・メールでの注文は承っておりません。ご注文はインターネット（スマートフォン・パソコン）からお願いいたします。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">注文内容の確認メールが届きません。注文が完了しているかわかりません。</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
              ご注文確認メール、発送メール、お問い合わせの返答メール等は必ずお送りしておりますが、お客様のサーバーのエラーやメール受信の設定等により、お客様にお届け出来ていない場合がございます。<br>
Webのフリーメールやプロバイダの迷惑メールフィルタを使用されている方は、当店からのメールが迷惑メールフォルダに振り分けられている可能性もございますので、あわせてそちらもご確認ください。<br>
<br>
お手数をお掛けいたしますが、 <a href="mailto:support@life-ct.com">【support@life-ct.com】</a>を受信できるよう設定をお願いいたします。<br>
ご注文時の登録メールアドレスが下記に当てはまる場合、送信エラーとなりメールが不着になる可能性があります。<br>
・「＠」直前の「．」（ドット）<br>・記号で始まる<br>・「.」「-」の連続使用<br>ご注文の際は、今一度ご確認いただきますようお願いいたします。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">領収書は発行できますか。</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
              ご希望の際は、お手数ですが <a href="mailto:support@life-ct.com">【support@life-ct.com】</a>にお問い合わせください。
            </p>
          </div>
        </li>
      </ul>
</div>
<div class="faq page-width page-width--narrow"id="delivary">
  <h2 class="faq__title faq__title--order">配送について</h2>
<ul class="c-accordion__list">
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">商品発送までどれぐらいかかりますか？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
              注文後、土日祝日除く平日2営業日で発送しております。限定品や時期によっては異なる場合がございますので、随時サイトTOPや公式Instagramにてご共有いたします。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">配送会社はどこですか？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
             佐川急便 ※他の配送業者を利用する場合がございます。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">配送業者の指定はできますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
              配送業者の指定は承っておりません。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">複数購入した場合、同梱されて届きますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
              同じ注文にて複数枚購入された場合は、同梱発送をさせていただきます。
            </p>
          </div>
        </li>
          <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">一度注文した後にまた注文をしました。同梱はできますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
            追加注文のまとめ、複数の注文をまとめて発送することはできかねます。それぞれ別のご注文としての手配となりますので、ご了承ください。
            </p>
          </div>
        </li>
          <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">発送前に配送先の変更はできますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
         ご注文後の配送先の変更は承っておりません。ご了承ください。
            </p>
          </div>
        </li>
       <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">海外への発送はできますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
日本国内のみの発送となります。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">配送日の指定はできますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
 配送日の指定は出来かねます。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">注文の追跡はできますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
商品発送時にお送りします発送メールにて追跡番号をご確認ください。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">宅配ボックスでの受け取りはできますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
担当地域の配送業者によって対応が異なりますので、追跡番号から宅配の方法をお客様でご指定お願いいたします。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">不在で商品が受け取れなかった場合はどうしたら良いですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
   配送業者にお問い合わせください。
            </p>
          </div>
        </li>
           <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">商品を受け取れなかった場合はどうなりますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
佐川急便からのご連絡に対し、指定の保管期限内にご対応がない場合、商品は倉庫へ返送されます。
            </p>
          </div>
        </li>
           <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">返送された場合の返金はありますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
はい。返送分の送料（750円）を差し引いた金額をお支払い合計額から返金いたします。
            </p>
          </div>
        </li>
      </ul>
</div>
<div class="faq page-width page-width--narrow"id="exchange">
  <h2 class="faq__title faq__title--exchange">返品・交換・返金について</h2>
<ul class="c-accordion__list">
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">返品・交換・返金はできますか？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
お客様都合の返品・交換・返金は行っておりません。万が一、不良品が届いてしまった場合は、大変お手数ですが、商品到着後7日以内にこちらまでお問合せください。<br>
商品の画像をお送りいただき、確認後、交換の手配を行わせていただきます。<br>
※不良品をお届けしてしまった場合は、交換対応のみお受け付けております。<br>
※商品タグを外してしまった商品は、交換対象になりませんので、必ず着用前にご確認をお願いいたします。
            </p>
          </div>
        </li>
       <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">お客様都合の返品・交換とは何ですか？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
・商品がイメージと違った<br>
・サイズが合わなかった<br>
・サイズを間違えた<br>
・購入する枚数を間違えた<br>
<br>
交換内容させていただくケースは以下に該当いたします。<br>
・不良品の交換<br>
・セット販売の一部だけが不良品<br>
・注文と違う商品が届いた<br>
・届いた商品の数量不足<br>
・同一注文のものが複数回届いた
            </p>
          </div>
        </li>
      </ul>
</div>
<div class="faq page-width page-width--narrow"id="payment">
  <h2 class="faq__title faq__title--payment"> 支払い方法について </h2>
<ul class="c-accordion__list">
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">支払い方法は何がありますか？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
支払い方法には以下がございます。<br>・クレジットカード （Visa、Mastercard、American Express、JCB）<br>・Shop Pay<br>・Apple Pay<br>・
              GooglePay
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">支払い方法の変更は可能ですか？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
              購入後の支払い方法の変更は承っておりません。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">クレジットカードの変更は可能ですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
            クレジットの情報は個人情報の為、店舗側からのカード情報の変更・登録は出来ません。申し訳ございませんが、ご了承ください。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">クレジットカードが決済不可になった理由の開示はできますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
              開示いたしかねます。直接カード会社にお問合せください。一般的に考えられる原因としましては、カード情報の入力間違い・有効期限切れ・限度額オーバーがございます。海外で発行されたカードも、まれに決済承認不可となる場合がございます。
            </p>
          </div>
        </li>
          <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">領収書の発行はできますか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
 ご希望の際は、お手数ですが <a href="mailto:support@life-ct.com">【support@life-ct.com】</a>にお問い合わせください。
            </p>
          </div>
        </li>
      </ul>
</div>
<div class="faq page-width page-width--narrow"id="product">
  <h2 class="faq__title faq__title--product">商品について</h2>
<ul class="c-accordion__list">
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">サイズの選び方はどうしたらいい？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
       これまでご購入いただいた皆様のご感想をもとに、<a href="https://leberee.net/pages/diagnosis">サイズ診断ページ（DIAGNOSIS）</a>を作成しました。ぜひお試しください。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">素材はなんですか？</p>
          </div>
          <div class="c-accordion__inner--content" >
            <p class="u-text">
    <span class="c-material">【Standard / スタンダード ナイロンポリ】</span>ナイロン93% ポリウレタン7%<br>
   <span class="c-material">【Standard cotton/ スタンダード コットン】</span><br class="c-material_br sp-none">ナイロン45% レーヨン24% コットン24% ポリウレタン7%<br>
   <span class="c-material">【High / ハイ ナイロンポリ(胸高)】</span>ナイロン90％　ポリウレタン10%<br>
  <span class="c-material">【High cotton/ ハイ コットン(胸高)】</span>ナイロン45% レーヨン24% コットン24% ポリウレタン7%<br>
  <span class="c-material">【Standard-np-short / スタンダードショート】</span>ナイロン93% ポリウレタン7%
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">バストに左右差がある場合のサイズの選び方はどうしたらいい？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
 ホールド力が強いため、多少のバストのサイズ差は問題ございませんが、気になる方は、大きい方のバストに合わせてご購入ください。
            </p>
          </div>
        </li>
          <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">洗濯はどのようにしたらいい？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
            洗濯機で丸洗いしていただけます。長くご使用いただくため、ネットに入れての洗濯、おしゃれ着洗いの使用を推奨しております。
            </p>
          </div>
        </li>
          <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">乾燥機の使用は問題ないですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
   デリケートな製品のため、乾燥機の使用はお控えください。
            </p>
          </div>
        </li>
       <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">着用方法を知りたい。</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
頭からかぶるように着用してください。アンダー部分がしっかりと固定される位置にくるように調整します。<br>カップにバストをきちんと収め、背中や脇の肉も寄せ集めてください。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">何枚持っていれば良いですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
毎日ご使用いただくことができる商品の為、洗い替えも含め、３〜５枚程度を推奨しております。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">日中の使用は問題ないですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
              日中でも着用しやすいデザインですので、様々な場面でご使用いただけます。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">パッドを取り外しての使用は問題ないですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
パッドが縫い付けの商品もございますが、下辺部分だけ縫い付けておりますので、お客様の好みに合わせて、パッドを切り離すことも可能です。特にバストを強調せずにファッションを楽しみたい方は、パッドを取ることで、バストのボリュームを抑えることができます。
            </p>
          </div>
        </li>
        <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">一枚での着用は可能ですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
透け感のない生地を採用しておりますので、一枚でも安心してご着用いただけます。※ホワイトに関しましては、透け感がございますので、ご注意ください。
            </p>
          </div>
        </li>
         <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">寿命はどれぐらいですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
明確な寿命は設けておりませんが、アンダーゴムが緩くなってくる目安として3〜4ヶ月でのお買い替えを推奨しております。
            </p>
          </div>
        </li>
         <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">苦しくないですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
              ノンワイヤーで伸縮性のある素材をしているため、着用時の締め付け感などがなく快適に着用していただけます。
            </p>
          </div>
        </li>
         <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">肌が弱い人の使用は問題ないですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
              痒みやかぶれが出た場合は、ご使用をお控えください。気になる場合は着用時間を短くして試してからご使用ください。
            </p>
          </div>
        </li>
      <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">妊娠中や授乳中の人の使用は問題ないですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
             基本的には問題ありませんが、かかりつけ医にご相談の上ご使用ください。
            </p>
          </div>
        </li>
      <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">脇肉のはみ出しが気になるのですが、Lebereeはどうですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
            脇部分の開きを一般的なインナーより広くすることで、脇肉がはみ出しづらい形状となっております。
            </p>
          </div>
        </li>
     <li class="c-accordion__item">
          <div class="c-accordion__inner--heading">
            <p class="u-head">Q.</p>
            <p class="u-text">他のブラトップとの違いはなんですか？</p>
          </div>
          <div class="c-accordion__inner--content">
            <p class="u-text">
            バスト部分のホールド感がしっかりとあります。脇肉や背肉などの肉感を拾いづらい形状設計ですので、体型を気にせずにご着用いただけます。
            </p>
          </div>
        </li>
      </ul>
</div>
{% schema %}
  {
    "name": "Accordion_faq",
    "settings": []
  }
{% endschema %}