
{% if section.settings.image_box != blank %}
  <div class="p-page_top_fv p-page_top_fv--pc">
<img src="{{ section.settings.image_box | img_url: 'master' }}" alt="{{ section.settings.image_box.alt }}">
    </div>
  {% endif %}
{% if section.settings.image_box_sp != blank %}
  <div class="p-page_top_fv p-page_top_fv--sp">
<img src="{{ section.settings.image_box_sp | img_url: 'master' }}" alt="{{ section.settings.image_box_sp.alt }}">
  </div>
    {% endif %}
{% schema %}
{
  "name": "гғҡгғјгӮёгғҲгғғгғ—з”»еғҸ",
  "class": "section_top_img",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
 "settings": [
  {
   "type": "image_picker",
   "id": "image_box",
   "label": "з”»еғҸгӮ’йҒёгҒ¶"
  },
  {
   "type": "image_picker",
   "id": "image_box_sp",
   "label": "з”»еғҸгӮ’йҒёгҒ¶"
  }
 ],
"presets": [
  {
    "name": "гғҡгғјгӮёгғҲгғғгғ—з”»еғҸ",
    "category": "з”»еғҸ", 

  }
]
}
{% endschema %}
