<div class="test-banner">
  <h2>テストバナー</h2>
</div>

{% schema %}
{
  "name": "テストバナー",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "テストバナー",
      "category": "テスト用"
    }
  ]
}
{% endschema %}